@use "./abstracts" as *;

.brand-sec {
  padding: 100px 0;

  &-list {
    @include flex(row, center, stretch);
    flex-wrap: wrap;
    gap: 30px;
  }
  &-card {
    max-width: 270px;
    width: 100%;
    min-height: 235px;
    padding: 20px 10px 0px 30px;
    &__counter {
      font-family: "Robtronika";
      font-size: 52px;
      margin-bottom: 15px;
    }
  }
}

.gonet-second {
  padding: 120px 0 140px;
  &__content {
    @include flex(row, space-between, start);
    &-left {
      max-width: 470px;
      @include flex(row, space-between, center);
      flex-wrap: wrap;
    }
    &-left-text {
      font-size: 26px;
      line-height: 32px;
    }
  }
  .gonet-link {
    max-width: 336px;
  }
}
.posible {
  &-card {
    max-width: 370px;
    color: $white;
    background: $light-black;
    padding: 47px 0;
    min-height: 170px;
  }
  &-card-second {
    max-width: 370px;
    padding: 28px 10px;
    padding-left: 25px;
  }
  &-card-second-wide {
    max-width: 775px;
    @include flex(row, center, center);
  }
  &-counter {
    font-family: "Robtronika";
    font-size: 35px;
    margin-bottom: 24px;
    background: linear-gradient(90deg, $white 39.31%, $pink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.card-pie-list {
  @include flex(row, center, start);
  gap: 100px;
}
.gonet-dark {
  background: $light-black;
  color: $white;
}
.prestart {
  &-sec {
    padding: 80px 0 100px;
    position: relative;
  }
  &-content {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
  }
  &-text {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    &-first {
      max-width: 556px;
      margin: 0 auto;
    }
    &-second {
      font-family: "Robtronika";
      font-size: 35px;
      background: linear-gradient(90deg, $white 39.31%, $pink 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    margin-bottom: 24px !important;
  }
  &-arrow {
    width: 100px;
    height: 100px;
    background: $white;
    border: 1px solid $black;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 100;
    @include flex(row, center, center);
  }
}
.start {
  &-sec {
    padding: 160px 0 80px;
  }
  &-sec-card {
    @include flex(column, center, center);
    padding: 40px 20px;
  }
  &-sec__img {
    margin-bottom: 27px;
  }
  &-sec__title {
    margin-bottom: 20px;
  }
  &-sec-btn {
    margin: 0 auto;
    margin-top: 60px;
  }
}
.autostart {
  &-card {
    max-width: 579px;
    padding: 45px;
  }
  &-text {
    margin-bottom: 36px;
    @include flex(row, start, center);
    img {
      margin-right: 24px;
    }
  }
}
.work-card {
  @include flex(row, start, center);
  max-width: 370px;
  min-height: 157px;
  padding: 0 30px;
  &__img {
    margin-right: 24px;
  }
  &-wide {
    max-width: 770px;
    padding: 35px 40px;
  }
  &-bg {
    padding: 0;
  }
  &-title {
    font-weight: bold;
    margin-bottom: 30px;
  }
  &-text {
    @include flex(column, start);
    flex-wrap: wrap;
    gap: 0 50px;
    height: 113px;
  }
  .autostart-text {
    margin-bottom: 10px;
  }
}
.publish-sec {
  &-title {
    font-weight: bold;
    span {
      font-family: "Robtronika";
      font-size: 35px;
      margin-bottom: 24px;
      background: linear-gradient(90deg, $black 39.31%, $pink 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin: 0 28px;
    }
  }
  &-card {
    max-width: 970px;
  }
}
.publisher {
  overflow-x: hidden;
  &-wrapper {
    position: relative;
  }
  &-text {
    margin-top: 30px;
    max-width: 470px;
  }
  &-list {
    max-width: 672px;
    margin-top: 33px;
    height: 152px;
    .autostart-text {
      margin-bottom: 15px;
    }
  }
  &-box {
    background: linear-gradient(270deg, $pink -122.45%, $white 68.55%);
    border: 1px solid $black;
    max-width: 458px;
    width: 100%;
    padding: 30px 40px;
    position: absolute;
    right: 0;
    top: 0;
    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    &__phone {
      max-width: 367px;
      position: absolute;
      right: 45px;
      bottom: -75px;
      transform: translate(50%, 50%);
    }
  }
}
.format {
  @include flex(row, center, stretch);
  border-top: 1px solid $black;
  &-content {
    padding: 100px 0 120px;
    max-width: 770px;
  }
  &-left {
    background: $white;
    padding-left: 135px;
    padding-right: 65px;
    &-title {
      max-width: 570px;
      margin-bottom: 20px;
    }
  }
  &-list {
    @include flex(row, start, stretch);
    flex-wrap: wrap;
    gap: 52px 16px;
  }
  &-item {
    max-width: 130px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &__box {
      min-height: 95px;
      background: $bg-gray;
      border: 1px solid $black;
      @include flex(row, center, center);
    }
    &__title {
      margin-top: 10px;
    }
  }
  &-right {
    border-left: 1px solid $black;
    padding-right: 65px;
    padding-left: 65px;
    &__text {
      max-width: 480px;
    }
    &-title {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 16px;
      margin-top: 20px;
    }
    &__img {
      margin: 0 auto;
      margin-top: 80px;
      max-width: 480px;
    }
  }
}
.achive {
  padding: 100px 0;
  color: $white;
  background: $light-black;
  &-cube {
    max-width: 570px;
    position: absolute;
    right: 0;
    top: 0;
  }
  &-container {
    position: relative;
  }
  &-wrapper {
    @include flex(row, start, end);
    gap: 0 120px;
  }
  &-item {
    &__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 24px;
    }
    &__content-item {
      margin-bottom: 24px;
      @include flex(row, start, start);
    }
    &__content-link {
      color: $pink;
      margin-right: 27px;
    }
    &__content-text {
      max-width: 326px;
    }
  }
  &-content__right {
    max-width: 570px;
  }
}
.cases {
  padding: 100px 0 160px;
  &-list {
  }
  &-item {
    background: $white;
    @include flex(row, center, stretch);
    border: 1px solid $black;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
    }
    &__left {
      padding: 60px 80px 70px;
      border-right: 1px solid $black;
      max-width: 620px;
    }
    &__right {
      max-width: 820px;
      img {
        width: 100%;
      }
    }
    &__content-list {
      // padding-left: 20px;
      list-style: inside;
      &-wrapper{
      @include flex(row,start);
      }
    }
    &__content-results {
      @include flex(row,start);
      gap: 25px 60px;
      flex-wrap: wrap;
      &.results-wide > div{
        max-width: 160px;
      }
    }
    &__content-result {
      span {
        color: $pink;
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

  }
  &-line {
    margin: 60px 0 0;
  }
  &-results {
    padding: 60px 90px;
  }
}
