@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Light.woff") format("woff"),
    url("@/assets/fonts/Montserrat-Light.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("@/assets/fonts/Montserrat-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("@/assets/fonts/Montserrat-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("@/assets/fonts/Montserrat-SemiBold.woff") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("@/assets/fonts/Montserrat-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Robtronika";
  src: url("@/assets/fonts/Robtronika-Regular.ttf") format("truetype"),
    url("@/assets/fonts/Robtronika-Regular.woff") format("woff"),
    url("@/assets/fonts/Robtronika-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
