.header {
  background: linear-gradient(
      0deg,
      rgba(79, 79, 79, 0.2),
      rgba(79, 79, 79, 0.2)
    ),
    url("@/assets/img/bg.jpg"), #161616;
  width: 100%;
  max-width: 100vw;
  position: relative;
  color: $white;
  @include flex(column, center, center);
  padding: 116px 0 128px;
  position: relative;
}

.header-content {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  max-width: 896px;
  &__logo {
    @include flex(column, center, center);
    img {
      max-width: 128.53px;
      width: 100%;
    }
    &-title {
      font-weight: 700;
      font-size: 42px;
      line-height: 51px;
      text-align: center;
      margin-top: 11px;
      span {
        color: $orange;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 89.774px;
    line-height: 109px;
    text-align: center;
    margin-top: 48px;
    span {
      font-size: 67.3305px;
      line-height: 77px;
      background: linear-gradient(90deg, $white 39.31%, $orange 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &__subtitle {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 76px;
  }
}
