.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  @include flex(row, start, center);
  &-list {
    @include flex(row, start, center);
    gap: 60px;
  }
  &-item{
    font-size: 1rem;
    color:$white;
    &.active{
      color:$orange;
    }
  }
}
