// Colors
$white: #FFF;
$bg-dark: #F9FAFB;
$white: #FFF;
$dark-blue: #3F3D56;
$black-blue: #2F2E41;
$orange: #EF6600;
$light-orange: #FEA14B;
$pale-orange: #FDC07E;
$pink: #FFB8B8;
$light-lilac: #D0CDE1;
$gray: #C2C2C2;
$light-gray: #f0eeee;
$bg-gray: #E4E4E4;
$light-black: #262626;
$black: #000;
$red: #BD1700;
$main-blue: #0053F1;



